langgraph
langchain-core
qdrant-client
pydantic
python-dotenv
streamlit
redis
requests
pillow
numpy
yt-dlp
torch
torchvision
transformers
sentencepiece
scenedetect[opencv]
openai-whisper
fastembed
faiss-cpu
easyocr
sentence-transformers
ultralytics
ruptures
langchain-community
langchain-ollama
